/* weight 300 */
@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/Montserrat-Thin.ttf);
    font-weight: 300;
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/Montserrat-Bold.ttf);
    font-weight: 800;
}